body {
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: floralwhite;
}

#shape-div {
    display: flex;
    padding: 100px 0;
    justify-content: space-evenly;
}

#shape-div button {
    flex: 0 0 300px;
    height: 200px;
    font-size: 40px;
    font-weight: bold;
    border-radius: 20px;
    border-width: 0;
}

#rock {
    background-color: gray;
}

#paper {
    background-color: mistyrose;
}

#scissors {
    background-color: dodgerblue;
}

#result {
    text-align: center;
    font-size: 70px;
}

#scores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#scores > div {
    height: 100px;
    font-size: 60px;
    display: flex;
    align-items: center;
    padding: 20px;
    gap: 30px;
}

.counter {
    background-color: dimgrey;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    text-align: center;
    line-height: 80px;
    color: white;
}

#human-score {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: cadetblue;
}

#com-score {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: lightpink;
}